<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--font awosome 'estrelas' das avaliações-->
    <link rel="stylesheet" href="/style/style4.css">
    <title> Contato | Gestão de Clínicas </title>
</head>
<body>
    <header style="background-image: url('assets/background-contato.png')">
        <div class="container">
            <nav>
                <a href="/">
                <img src="assets/logo.PNG" alt="logo">
            </a>
            <ul class="ul">
                <a href="/">Home</a>
                <a class="btn" href="/registro">Entrar</a>
                <a href="/sobre">Sobre</a>
                <a href="/contato">Contato</a>
                <a href="/integrantes">integrantes</a>
            <div class="close-icon" onclick="closeMenu()">
                <i class="fa fa-times-circle"></i>
            </div>
            </ul>
            <div class="menu-icon" onclick="openMenu()">
                <i class="fa fa-bars"></i>
            </div>
            </nav>

        <!--banner-->
        <section class="banner">
            <div class="banner-text">
                <h1>Nosso Contato</h1>
                <p>Entre em contato com nosso time da Heal, para tirar suas dúvidas e ajudar sua clínica.</p>                
            </div>
        </section>
        </div>
    </header>
    <!--end-banner-->
    <section class="contato">
        <div class="container">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.265561480045!2d-46.66153362396145!3d-23.558903961503372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59cd06feea05%3A0x34166339e4cc57c6!2sAnhembi%20Morumbi%20-%20Unidade%20Av%20Paulista!5e0!3m2!1spt-BR!2sbr!4v1731542046215!5m2!1spt-BR!2sbr" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="contato-info">
                <div class="left-side">
                <div> 
                    <i class="fa fa-map-marker"></i>
                    <p>Av. Paulista, 1234 - Saquarema - SP</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p>healsoftwareclinico@gmail.com</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>(11) 99999-9999</p>
                </div>
                <div>
                    <i class="fa fa-address-card-o"></i>
                    <p>CNPJ: 99.999.999/9999-99</p>
                </div>
            </div>
                <div class="right-side">
                    <form action="">
                        <input type="text" placeholder="Nome" required>
                        <input type="email" placeholder="E-mail" required>
                        <input type="text" placeholder="Assunto" required>
                        <textarea cols="30" rows="10" placeholder="Sua Mensagem" required></textarea>
                        <button class="btn2">Enviar Mensagem</button> 
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <footer class="footer">
        <div class="container">
            <div class="footer">
                <p>© 2009 / 2024 Heal Software Clínico. Todos os direitos reservados.
                    Para fornecer nossos serviços, usamos cookies conforme definido nesta Política de Privacidade.Você pode especificar as condições para salvar e acessar cookies nas configurações do seu navegador.</p>
            </div>
        </div>
    </footer>
    <!--end-footer-->
    <script src="js/main.js"></script>
</body>
</html>