<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--font awosome 'estrelas' das avaliações-->
    <link rel="stylesheet" href="/style/style2.css">
    <title>Heal</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>

<body>
    <header style="background-image: url('/assets/background-home.png')">
        <div class="container">
            <nav>
                <a href="/">
                    <img src="/assets/logo.PNG" alt="logo">
                </a>
                <ul class="ul">
                    <a class="btn" href="/registro">Entrar</a>
                    <a href="/sobre">Sobre</a>
                    <a href="/contato">Contato</a>
                    <a href="/integrantes">Integrantes</a>
                </ul>
            </nav>

            <!--banner-->
            <section class="banner">
                <div class="banner-text">
                    <h1>Transforme a saúde dos seus pacientes com gestão inteligente e simplificada!</h1>
                    <p>O software médico para a gestão de sua clínica ou consultório.</p>
                    <a href="/registro" class="btn animate-btn">Veja como funciona</a>
                </div>
            </section>
        </div>
    </header>
    <!--end-banner-->

    <!--faca-mais-->
    <section class="faca-mais">
        <div class="container">
            <div class="faca-mais-text">
                <h3>Facilidade de Uso, Flexibilidade e Praticidade.</h3>
                <p>
                    Veja como a Heal pode ajudar a melhorar
                    a gestão da sua clínica.
                </p>
                <a class="btn animate-btn">Tudo que sua clínica PRECISA!</a>
            </div>
            <div class="faca-mais-img">
                <img src="/assets/Group1.png" alt="Imagem-Heal">
            </div>
        </div>
    </section>
    <!--end-faca-mais-->

    <!--faca-mais-2-->
    <section class="faca-mais">
        <div class="container">
            <div class="faca-mais-img">
                <img src="/assets/Frame1.png" alt="Imagem-Heal">
            </div>
            <div class="faca-mais-text">
                <h3>Transformando o Gerenciamento de Pacientes em Sua Clínica.</h3>
                <p>
                    Com uma interface simples e intuitiva, nosso software ajuda
                    na gestão dos históricos médicos, agendamentos de
                    consultas. Desenvolvido para facilitar o processo de agendamento,
                    acompanhamento e controle das informações, permitindo que a
                    equipe médica e administrativa se concentrem no que
                    realmente importa: o cuidado com o paciente.
                </p>
                <a class="btn animate-btn">Fácil e RÁPIDO!</a>
            </div>
        </div>
    </section>
    <!--end-faca-mais-2-->

    <!--avaliações-->
    <section class="avaliacoes">
        <div class="container">
            <h3>Avaliações</h3>
            <p>Leia o que nossos clientes falam sobre a Heal.</p>
            <div class="cards">
                <!--card item 1-->
                <div class="card-item">
                    <img src="/assets/doctor1.png" alt="Imagem-Doctor">
                    <p class="nome-user">Dr. Ricardo Luiz - Cardiologista</p>
                    <p class="avaliacao-user">
                        "Esse software de gerenciamento de pacientes facilitou muito nossa prática clínica.
                        Agora, consigo acessar informações de cada paciente de forma rápida e organizada,
                        o que torna o atendimento mais ágil e preciso.
                        É indispensável para qualquer
                        consultório que preza por eficiência e qualidade no cuidado."
                    </p>
                    <div class="estrelas">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                </div>
                <!--end-card item 1-->

                <!--card item 2-->
                <div class="card-item">
                    <img src="/assets/doctor2.png" alt="Imagem-Doctor">
                    <p class="nome-user">Dr. Silvana - Dermatologista</p>
                    <p class="avaliacao-user">
                        "Com esse software, o
                        gerenciamento dos pacientes ficou muito mais ágil e preciso.
                        Ter o histórico clínico, exames e evoluções em um único lugar
                        faz toda a diferença na tomada de decisões, especialmente em
                        consultas complexas."
                    </p>
                    <div class="estrelas">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                </div>
                <!--end-card item 2-->

                <!--card item 3-->
                <div class="card-item">
                    <img src="/assets/doctor3.png" alt="Imagem-Doctor">
                    <p class="nome-user">Dr. Carlos - Ginecologista</p>
                    <p class="avaliacao-user">
                        "O software facilitou a organização da clínica de uma forma
                        impressionante. O sistema de agendamentos, prontuários digitais
                        e lembretes automáticos evita esquecimentos e melhora o
                        fluxo de trabalho. É uma ferramenta que realmente
                        transforma o cuidado com o paciente em algo mais eficaz
                        e humanizado."
                    </p>
                    <div class="estrelas">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
                <!--end-card item 3-->
            </div>
        </div>
    </section>
    <!--end-avaliações-->

    <!--clientes-->
    <section class="clientes">
        <div class="container">
            <h3>Nossos Clientes</h3>
            <p>Confira as empresas que confiam no serviço da Heal.</p>
            <div>
                <img src="/assets/cliente1.png" alt="Imagem-Cliente1">
                <img src="/assets/cliente2.png" alt="Imagem-Cliente2">
                <img src="/assets/cliente3.png" alt="Imagem-Cliente3">
                <img src="/assets/cliente4.png" alt="Imagem-Cliente4">
                <img src="/assets/cliente5.png" alt="Imagem-Cliente5">
            </div>
        </div>
    </section>
    <!--end-clientes-->

    <!--faca-mais-3-->
    <section class="faca-mais">
        <div class="container">
            <div class="faca-mais-text">
                <h3>Tenha um software seguro!</h3>
                <p>
                    O software realiza a segurança dos dados dos pacientes,
                    garantindo que eles sejam tratados de forma confiável e
                    privada.
                </p>
                <a class="btn animate-btn">A segurança que sua clínica merece!</a>
            </div>
            <div class="faca-mais-img">
                <img src="/assets/security.png" alt="Imagem-Heal">
            </div>
        </div>
    </section>
    <!--end-faca-mais-3-->

    <!--footer-->
    <footer class="footer">
        <div class="container">
            <div class="footer">
                <p>© 2009 / 2024 Heal Software Clínico. Todos os direitos reservados.
                    Para fornecer nossos serviços, usamos cookies conforme definido nesta Política de Privacidade.Você
                    pode especificar as condições para salvar e acessar cookies nas configurações do seu navegador.</p>
            </div>
        </div>
    </footer>
    <!--end-footer-->
</body>

</html>