<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--font awosome 'estrelas' das avaliações-->
    <link rel="stylesheet" href="style/style4.css">
    <title> Sobre | Gestão de Clínicas </title>
</head>
<body>
    <header style="background-image: url('assets/background-sobre.png')">
        <div class="container">
            <nav>
                <a href="home.html">
                <img src="assets/logo.PNG" alt="logo">
            </a>
            <ul class="ul">
                <a href="/">Home</a>
                <a class="btn" href="/registro">Entrar</a>
                <a href="/sobre">Sobre</a>
                <a href="/contato">Contato</a>
                <a href="/integrantes">Integrantes</a>
            <div class="close-icon" onclick="closeMenu()">
                <i class="fa fa-times-circle"></i>
            </div>
            </ul>
            <div class="menu-icon" onclick="openMenu()">
                <i class="fa fa-bars"></i>
            </div>
            </nav>

        <!--banner-->
        <section class="banner">
            <div class="banner-text">
                <h1>Conheça nosso Software!</h1>
                <p>O software médico para a gestão de sua clínica ou consultório.</p>
                <a href="/sobre" class="btn animate-btn">Veja como funciona nosso software abaixo</a>
                
            </div>
        </section>
        </div>
    </header>
        <!--end-banner-->

        <!--faca-mais-->
        <section class="faca-mais">
            <div class="container">
                <div class="faca-mais-text">
                    <h3>Como a Heal pode ajudar?</h3>
                    <p>
                        Informações sobre o software e como ele ajuda a clínica.
                    </p>
                    <a href="/contato" class="btn animate-btn">Entre em Contato</a>
                </div>
                <div class="faca-mais-img">
                    <img src="assets/image.sobre1.png" alt="Imagem-Heal">
                </div> 
            </div>
        </section>
        <!--end-faca-mais-->

        <!--faca-mais-2-->
        <section class="faca-mais">
            <div class="container">
                <div class="faca-mais-img">
                    <img src="assets/Frame1.png" alt="Imagem-Heal">
                </div>
                <div class="faca-mais-text">
                    <h3>Transformando o Gerenciamento de Pacientes em Sua Clínica.</h3>
                     <p>
                        Com uma interface simples e intuitiva, nosso software ajuda 
                        na gestão dos históricos médicos, agendamentos de 
                        consultas. Desenvolvido para facilitar o processo de agendamento, 
                        acompanhamento e controle das informações, permitindo que a 
                        equipe médica e administrativa se concentrem no que 
                        realmente importa: o cuidado com o paciente.
                     </p>
                     <a href="/contato" class="btn animate-btn">Entre em Contato</a>
                </div>     
            </div>
        </section>
        <!--end-faca-mais-2-->
        
     <!--faca-mais-3-->
     <section class="faca-mais">
        <div class="container">
            <div class="faca-mais-text">
                <h3>Tenha um software seguro!</h3>
                <p>
                    O software realiza a segurança dos dados dos pacientes, 
                    garantindo que eles sejam tratados de forma confiável e 
                    privada.
                </p>
                <a href="/contato" class="btn animate-btn">Entre em Contato</a>
            </div>
            <div class="faca-mais-img">
                <img src="assets/security.png" alt="Imagem-Heal">
            </div> 
        </div>
    </section>
    <!--end-faca-mais-3-->

    <!--footer-->
    <footer class="footer">
        <div class="container">
            <div class="footer">
                <p>© 2009 / 2024 Heal Software Clínico. Todos os direitos reservados.
                    Para fornecer nossos serviços, usamos cookies conforme definido nesta Política de Privacidade.Você pode especificar as condições para salvar e acessar cookies nas configurações do seu navegador.</p>
            </div>
        </div>
    </footer>
    <!--end-footer-->
    <script src="js/main.js"></script>
</body>
</html>